<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Scientist</title>
</head>
<body>
        <h1>Build-A-Scientist</h1>
        <form action="/index" method="POST">
            Name: <input type="text" name="name">
            Description: <input type="text" name="description">
            <input type="submit" value="Create Scientist">
        </form>

        <a href="/index/">View scientist on planet >></a>
</body>
</html>